Email_Workflow.json
{
  "name": "Email Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -620,
        -160
      ],
      "id": "58fab8fb-433c-4a05-a254-df031717a191",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "z2kD99q99n0mcG9K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "An email related to the customer support. They may be asking questions related to services and polices or AI Agents.\n\n"
            },
            {
              "category": "Other",
              "description": "Email that not related to placement or internship."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -400,
        -160
      ],
      "id": "af923f2a-38bd-4c90-af20-30d04c18c10d",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -400,
        80
      ],
      "id": "f6638735-885c-4ff4-92ac-ebe579b12934",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zeERMQj6RoeqqKfZ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -220,
        120
      ],
      "id": "1bee9d61-1b3f-4eb2-b3c5-c49996c71e9a",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "=#Overview \nYou are a customer support agent for Webai Agency. Your job is to respond to incoming emails with relevent information using yours knowledgeBase tool.\n\n## Instructions\n- Yours output shuold be friendly and use emojis.\n- Sign off as Mr. Helpful from Webai Agency Solutions.\n\n## Output\n- Output only the body content of the email. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        -180
      ],
      "id": "958b655d-a5c6-4b52-accb-18cf0ef97731",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        20
      ],
      "id": "2f9ed160-c245-449e-9dfe-fab7cda5e1c6",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "zeERMQj6RoeqqKfZ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access Policy and FAQ information.",
        "pineconeIndex": {
          "__rl": true,
          "value": "faqwebai",
          "mode": "list",
          "cachedResultName": "faqwebai"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        180,
        40
      ],
      "id": "0e84d7a0-a264-43aa-9416-1379ee854b63",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "jGPGBVyiwSrPheJ6",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        180,
        200
      ],
      "id": "4b40ec95-c24e-42e7-8a3f-1558df98d244",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zeERMQj6RoeqqKfZ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        -180
      ],
      "id": "01842044-5ac4-41f4-bb4d-9844cdf126c0",
      "name": "Gmail",
      "webhookId": "62d2876f-8316-4ccb-9cba-31aacb795fc4",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "z2kD99q99n0mcG9K",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_UPDATES"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        360,
        -180
      ],
      "id": "23d22c05-9ef1-4115-9874-96edca344f28",
      "name": "Gmail1",
      "webhookId": "b3631949-3834-4242-9034-cac33408a232",
      "credentials": {
        "gmailOAuth2": {
          "id": "z2kD99q99n0mcG9K",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "96dad65a-bf9c-43d6-8b14-c11f385c6580",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85e5cc6dc1db6d990e36de60ce1361207b25dcec1bee8c382afbbe1d0488c66c"
  },
  "id": "BclL7VV3YcW6QDMf",
  "tags": []
}